{{>template/head}}
    
    {{^trophiesExist}}
        <section class="flex-container centre">
            <p class="wellbeing-body">You don't seem to have any trophies :(</p><br>
        </section>
        <section class="flex-container centre">
            <p class="wellbeing-body">Add one now using the button below!</p>
        </section>
    {{/trophiesExist}}

    <section class="grid trophy-cabinet-1">
        {{#trophies}}
            <section class="grid trophy-cabinet-2">
                {{#easy}}
                    <span class="flex-container centre"><img src="images/bronze.png" alt="a clipart picture of a bronze trophy" max-width="100" height="100"></span>
                {{/easy}}
                {{#medium}}
                    <span class="flex-container centre"><img src="images/silver.png" alt="a clipart picture of a silver trophy" max-width="100" height="100"></span>
                {{/medium}}
                {{#hard}}
                    <span class="flex-container centre"><img src="images/gold.png" alt="a clipart picture of a gold trophy" max-width="100" height="100"></span>
                {{/hard}}
                <span class="flex-container centre"><p>{{achievement}}</p></span>
                <span class="flex-container centre"><p>{{dateadded}}</p></span>
            </section>
        {{/trophies}}
    </section>

    <form action="/trophies/add-achievement" method="get"> {{! todo - change button styling - overflows on smaller viewport}}
        <fieldset class="form-section flex-container centre">
            <input type="submit" value="Add an achievement">
        </fieldset>
    </form>
{{>template/foot}}
