{{>template/head}}
    <article class="wellbeing-guide justify">
        <h2>Proper Push-Up Ultimate Guide: How to Do Push Ups with Correct Form</h2>
        <h3>Steve Kamb - April 24, 2023</h3>
        <!-- source: https://www.nerdfitness.com/blog/proper-push-up/#more-8109 -->
        <p class="wellbeing-body">The push-up is one of the best exercises on the planet. It's a foundational movement in strength training, and an exercise EVERYBODY should be doing regularly. However, it's also an exercise that about 95% of people get wrong and do incorrectly. Here's how to get into proper push-up position:</p>
        <ol class="wellbeing-body">
            <li>On the ground, set your hands at a distance that is slightly wider than shoulder-width apart. </li>
            <li>To alleviate wrist pain (if you have poor wrist flexibility) do your push-ups holding onto push-up handles or a bar</li>
            <li>Your feet should be set up in a way that feels right and comfortable and in balance.</li>
            <li>Think of your body as one giant straight line from the top of your head down through your heels. Your butt shouldn't be sticking way up in the air or sagging.</li>
            <li>If you have a problem getting the proper form with your body, try this: clench your butt, and then tighten your abs as if you're bracing to get punched.</li>
            <li>Your head should be looking slightly ahead of you, not straight down.</li>
            <li>At the top of your push-up, your arms should be straight and supporting your weight.</li>
            <li>Nearly EVERYBODY does push-ups with their arms out far too wide and their shoulders flared. If I was looking down at you from above, your arms and body should form an ARROW, not a T.</li>
        </ol>
    </article>
    <article class="wellbeing-guide justify">
        <h2>Advanced Bodyweight Workout Circuit: A Full Body Routine You Can Do At Home</h2>
        <h3>Steve Kamb - January 26, 2023</h3>
        <!-- source: https://www.nerdfitness.com/blog/advanced-body-weight-workout-warning-this-will-kick-your-ass/ -->
        <!-- source: https://www.nerdfitness.com/blog/beginner-body-weight-workout-burn-fat-build-muscle/ -->
        <p class="wellbeing-body">Want to get strong but hate the gym? No problem! With today's bodyweight routines you can burn fat, build muscle, and get a great workout in! All with no gym membership required!</p>
        <p class="wellbeing-body">This is the beginner bodyweight workout (do 3 circuits):</p>
        <ul class="wellbeing-body">
            <li>20 Bodyweight squats</li>
            <li>10 Push-ups</li>
            <li>10 Walking lunges (each leg)</li>
            <li>10 Dumbbell rows (use a milk jug or other weight)</li>
            <li>15 Second Plank</li>
            <li>30 Jumping jacks</li>
        </ul>
        <p class="wellbeing-body">Here is a sample routine for somebody who has conquered the beginner bodyweight workout but can't yet do the advanced routine below:
        <ul class="wellbeing-body">
            <li>10 Bodyweight Squats</li>
            <li>10 Walking Lunges</li>
            <li>15 Jump Ups</li>
            <li>3 Assisted Pull-Ups (or 6 inverted bodyweight rows – overhand grip on table)</li>
            <li>8 Dips (or 10 decline push-ups if these are too tough)</li>
            <li>3 Assisted Chin-Ups (or 6 inverted bodyweight rows – underhand grip on table)</li>
            <li>10 Push-Ups</li>
            <li>30 Second Plank</li>
            <li>30 Jumping Jacks</li>
        </ul>
        <p class="wellbeing-body">This is the advanced bodyweight workout (Do 3 Circuits):</p>
        <ul class="wellbeing-body">
            <li>10 One-Legged Squats – each side</li>
            <li>20 Bodyweight Squats</li>
            <li>20 Walking Lunges (10 each leg)</li>
            <li>20 Jump Step-Ups (10 each leg)</li>
            <li>10 Pull-Ups (or inverted bodyweight rows using your kitchen table)</li>
            <li>10 Dips – Bar Stools</li>
            <li>10 Chin-Ups (or inverted bodyweight rows with an underhand grip)</li>
            <li>10 Push-Ups</li>
            <li>30 Second Plank</li>
        </ul>
    </article>
    <article class="wellbeing-guide justify">
        <h2>Fitness industry hyperbole is exhausting</h2>
        <h3>Tony Gentilcore - March 27, 2023</h3>
        <!-- source: https://tonygentilcore.com/2023/03/fitness-industry-hyperbole-is-exhausting/ -->
        <p class="wellbeing-body">We all know hyperbole when we see it.</p>
        <p class="wellbeing-body">In general, it's purposeful use of exaggeration as a rhetorical device or figure of speech. It's often used in writing (and communication as a whole) to evoke strong feelings and reaction from the audience. These reactions can range from a chuckle and an "aww shucks" eye roll to someone getting punched in the throat.</p>
        <p class="wellbeing-body">Some innocuous and inane examples of hyperbole – the "aww shucks" variety – would be:</p>
        <ul class="wellbeing-body">
            <li>I'm so hungry I could eat a horse.</li>
            <li>"So and so" is about as intelligent as a ham sandwich.</li>
            <li>Attack of the Clones is a cinematic masterpiece.</li>
        </ul>
        <p class="wellbeing-body">A few weeks ago I was perusing Twitter when my feed fed me this piece of gargantuan eye wash (because, of course):</p>
        <p class="wellbeing-body quote">"STOP DOING BARBELL SQUATS!!! It's a useless exercise that does way more harm than good to your body."</p>
        <p class="wellbeing-body">This, my dear reader, is a choice example of the latter example of hyperbole mentioned above. You know, the kind that makes you want to wash your eyes with broken glass.</p>
    </article>
{{>template/foot}}
