{{>template/head}}
    <article class="wellbeing-guide justify">
        <h2>How to build a workplace culture of wellbeing in a new business</h2>
        <h3>Megan Lance - April 26, 2023</h3>
        <!-- source: https://www.thisiscalmer.com/blog/workplace-culture-of-wellbeing-in-a-new-business -->
        <p class="wellbeing-body">You may have heard the saying that in order to change the world you must first change yourself; the same logic applies to how you handle your new business.</p>
        <p class="wellbeing-body">To begin establishing a culture of wellbeing, it is important to prioritise your own personal growth first. By sharpening vital entrepreneurial capabilities, such as your intrapersonal skills, time management, and goal and value formation, you can better empathise with any struggles your employee's encounter, and be in a better position to formulate and implement wellbeing strategies from the top down.</p>
        <p class="wellbeing-body">Participating in leadership development programmes can help you to get started on your personal growth journey. These provide effective, personalised education to help you develop deeper human connections with your team and manage them better, even amid challenging situations. With employees today demanding more from their employers through movements like the Great Resignation, workplace wellbeing training can help you cultivate the characteristics needed to meet these demands and create a workplace environment conducive to employee wellbeing.</p>
        <p class="wellbeing-body">New business owners can underestimate the impact of the physical workplace on job satisfaction, productivity, work quality, and overall employee wellbeing. A study found that over 60% of the employees surveyed had difficulty concentrating because of their work environment. If you’re still designing your office space, it will help to take wellness into consideration and if you work remotely, consider what kind of environment will nurture a healthy, happy and productive setup for you.</p>
        <p class="wellbeing-body">From here, you can pioneer more wellbeing projects as your business grows. One area you can focus on can include understanding diversity and promoting this within your company. You can start by raising awareness of the importance of inclusive behaviour and continually seeking out the views of your employees. Promoting diversity and inclusion in this manner won't just enhance wellbeing across your team — it will also improve your company's chances of becoming an innovation leader in your industry. Implementing long-running initiatives in your company like this can lead to a lasting and innovative culture of wellbeing, as well as giving you a competitive edge.</p>
        <p class="wellbeing-body">A culture of wellbeing is key to maintaining motivated employees and, by extension, a successful company. By prioritising wellness as soon as you establish your business, you have a better guarantee of its long-term growth.</p>
    </article>
    <article class="wellbeing-guide justify">
        <h2>Balancing people and profit: The importance of workplace sustainability and wellbeing</h2>
        <h3>Remy Daroowala - April 5, 2023</h3>
        <!-- source: https://www.thisiscalmer.com/blog/the-importance-of-workplace-sustainability-and-wellbeing -->
        <p class="wellbeing-body">An abundance of research has shown that mental wellbeing is linked to physical health and productivity, and companies that prioritise sustainability and wellbeing have happier, healthier, and more productive employees who are invested in the success of a company that cares for them. In turn, this translates into a more successful business, which benefits everyone from the top down. Why? Because companies that prioritise employee health and wellbeing experience better engagement from their employees, which results in higher productivity, and reduced staff turnover rates.</p>
        <p class="wellbeing-body">An engaged employee is one committed to their employer, identifies with organisational values, and feels satisfied and stimulated by their work; and according to Gallup, only 21% of employees are engaged at work. It stands to reason that higher engagement is associated with reduced absenteeism and higher profitability, and disengaged employees are estimated to cost the global economy nearly $8 trillion in lost productivity.</p>
        <p class="wellbeing-body">Staff turnover is estimated to cost employers up to double the employee’s annual salary due to the costs of hiring, onboarding and training, as well as reduced engagement from other employees due to high turnover. According to data from the 2017 National Survey of Employer-sponsored health plans, workplaces that utilised more wellbeing practices experienced an 11% lower rate of staff turnover.</p>
        <p class="wellbeing-body">Sustainable workplaces balance the wellbeing of their people and the planet with the health of their balance books. In model workplaces, employee mental health and sustainability are closely linked with the prioritisation of work-life alignment, opportunities for stress and burnout management and mental health support. As a result, these businesses are more likely for their employees to feel more supported and valued.</p>
    </article>
    <article class="wellbeing-guide justify">
        <h2>Define your own success to live a happier, healthier life</h2>
        <h3>Simon Tomkins - March 1, 2023</h3>
        <!-- source: https://www.thisiscalmer.com/blog/define-your-own-success-to-live-a-happier-healthier-life -->
        <p class="wellbeing-body">Most people’s ultimate goal in life is to be happy. Put simply, happiness is achieved when we have the right components in our life to meet our wants and needs. From our basic needs such as food, safety and shelter, to love, companionship and belonging, and higher needs such as self-actualisation, respect and fulfilment. When we have the right balance of these things in our life, we are more likely to feel happy, healthy and fulfilled. </p>
        <p class="wellbeing-body">Given that happiness is our ultimate goal, perhaps it seems surprising that we’re not taught how to achieve it. During education, historically there are no classes teaching us how to be happy or how to create a healthy and fulfilling life. Instead, during childhood and education, we have been encouraged to work hard so that we can have a successful career and achieve financial stability.</p>
        <p class="wellbeing-body">As career success and wealth are hailed as the ultimate goals it is implied, but not stated, that being successful will lead to happiness. And so it’s easy to forget that financial and professional success are just part of the vast tapestry of life. Succeeding in these areas alone does not mean succeeding in life.</p>
        <p class="wellbeing-body">So if you want to live a happy, healthy life, prioritise the things you value and feel passionate about. Make happiness and health your ultimate goal, this will enable you to define your own success on your terms, and lead you to it.</p>
    </article>
{{>template/foot}}
