{{>template/head}}
    <article class="wellbeing-guide justify">
        <h2>2023 Nutrition trends to watch out for</h2>
        <h3>Charlotte Turner - April 25, 2023</h3>
        <!-- source: https://www.healthnutritionist.co.uk/post/2023-nutrition-trends-to-watch-out-for -->
        <p class="wellbeing-body">2023 is already underway and as part of The Health Nutritionist's nutrition consultancy services we wanted to share with you some of the  potential nutrition trends that we think will gain momentum in 2023:</p>
        <ol class="wellbeing-body">
            <li>Plant-based and sustainable diets<br>With growing concerns about the environmental impact of meat consumption and increasing interest in sustainability, plant-based diets are likely to continue gaining popularity in 2023. This trend may also encompass the use of sustainable and ethically-sourced foods, such as locally-sourced produce and organic options.</li>
            <li>Personalised nutrition<br>As advancements in technology continue to shape the field of nutrition, personalized nutrition plans tailored to an individual's unique health needs and genetic makeup may become more prominent. This could involve the use of DNA testing, gut microbiome analysis, and other data-driven approaches to customize nutrition recommendations. Here at the Health Nutritionist we offer personalised DNA nutrition tests and consultations.</li>
            <li>Gut health and microbiome<br>The role of the gut microbiome in overall health and well-being has gained significant attention in recent years, and this trend is expected to continue in 2023. Consumers may show increased interest in gut-friendly foods, such as fermented foods, prebiotics, and probiotics, to support gut health and digestive function. Consumers are now becoming aware of how their gut can affect their health. The Channel 4 TV show 'Know your sh*t!' has helped break down taboos and has resulted in more enquiries for our nutrition and dietetic team to support them with their gut issues.</li>
            <li>Sustainable packaging and eco-friendly practices<br>As consumers become more environmentally conscious, there may be a growing demand for nutrition products and supplements that come in sustainable packaging and are produced using eco-friendly practices. This could include biodegradable packaging, reduced use of plastics, and sourcing from companies with strong sustainability commitments.</li>
            <li>Focus on mental health and brain health<br>The connection between nutrition and mental health is gaining recognition, and in 2023, there may be an increased emphasis on foods and nutrients that support brain health and mental well-being. This may include foods rich in omega-3 fatty acids, antioxidants, and other brain-boosting nutrients.</li>
            <li>Alternative protein sources<br>As consumers look for diverse protein options, there may be increased interest in alternative protein sources such as insect-based proteins, algae-based proteins, and cultured or lab-grown proteins. These options may be seen as more sustainable and environmentally friendly compared to traditional animal-based proteins.</li>
        </ol>
        <p class="wellbeing-body">It's important to note that nutrition trends can vary depending on geographic location, cultural factors, and individual preferences. It's always best to consult with a qualified healthcare professional or registered dietitian for personalised nutrition advice based on your unique needs and health goals. Speak to our team if you would like to book a consultation with one of our nutrition professionals.</p>
    </article>
    <article class="wellbeing-guide justify">
        <h2>Is my teenager eating enough or is it a sign of an eating disorder?</h2>
        <h3>Charlotte Turner - September 11, 2022</h3>
        <!-- source: https://www.healthnutritionist.co.uk/post/is-my-teenager-eating-enough-or-is-it-a-sign-of-an-eating-disorder -->
        <p class="wellbeing-body">I'm sure we can all agree that being a teenager is a pretty tough time in someone's life, what with the constant hormone swings, pressure to perform at school and the ongoing social need on how best to fit in with friends. This transition from being a child to moving into adulthood can be a challenging time.</p>
        <p class="wellbeing-body">The mental health foundation conducted an online survey and concluded some concerning trends. It was found that 60% of young people (aged 18 to 24) have felt so stressed by the pressure to succeed that they have felt overwhelmed or unable to cope. Of equal concern was that 47% of young people have felt so stressed by body image and appearance that they have felt overwhelmed or unable to cope.</p>
        <p class="wellbeing-body">As a parent or caregiver, your role isn't exactly easy either, from getting the balance  between setting those parenting boundaries to allowing your child to have more independence as they approach adulthood.  If you are feeling overwhelmed you are not alone as a study of 1,000 parents of teenagers found 75 per cent think the ages of 13-19 are the most challenging years of raising children, with 32 per cent admitting they were 'unprepared'. It can often seem that whatever you say or do it comes across wrong or like you are attacking rather than the intended support that you were aiming for.</p>
        <p class="wellbeing-body">We advise you to first speak to your GP and ask for a health check to get your teenager's blood pressure, weight, and blood is taken to make sure they are clinically sent to the correct place for treatment.</p>
    </article>
    <article class="wellbeing-guide justify">
        <h2>Banana and pecan nut muffins</h2>
        <h3>Francesca - December 30, 2021</h3>
        <!-- source: https://www.healthnutritionist.co.uk/post/banana-and-pecan-nuts-muffins -->
        <p class="wellbeing-body">Ingredients (x 12 muffins):</p>
        <ul class="wellbeing-body">
            <li>2 big ripe bananas or 2 small ones</li>
            <li>120g plain flour</li>
            <li>120g buckwheat flour</li>
            <li>1 tsp cinnamon</li>
            <li>1 tsp vanilla extract</li>
            <li>1 ½ tsp baking powder</li>
            <li>2 eggs</li>
            <li>80g chopped pecan nuts, plus extra to sprinkle on top</li>
            <li>100 ml coconut oil or sunflower seed oil</li>
            <li>100 ml maple syrup</li>
            <li>oats to sprinkle</li>
        </ul>
        <p class="wellbeing-body">Method:</p>
        <ol class="wellbeing-body">
            <li>Preheat the oven to 180°C and line a muffin case with  muffin cases.
            <li>In a large bowl, mash the bananas with a fork. Add the eggs, vanilla, maple syrup and oil. Whisk well until smooth.
            <li>In another bowl, mix the flours, baking powder and cinnamon.
            <li>Gradually combine the dry ingredients with the wet ones and mix well.
            <li>Add the pecan nuts and stir.
            <li>Fill each muffin case up to two-thirds of the full muffin case. 
            <li>Sprinkle some oats and pecan nuts on the top.
            <li>Bake for 15-20 minutes or until a toothpick inserted comes out clean.
        </ol>
    </article>
{{>template/foot}}
