<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>MyWellbeingApp</title>
        <link rel="stylesheet" href="styles/stylesheet.css" type="text/css">
    </head>
    <body>
        <header>
            {{>appHeader}}
        </header>
        <nav>
            {{>appNavBar}}
        </nav>
        <h1>Page not found</h1>
        <main>
            <div>
                <p class="wellbeing-body">Page not found. Please <a href="/">start again</a></p>
            </div>
        </main>
        <footer>
        {{>appFooter}}
        </footer>
    </body>
</html>
