{{>template/unverifiedhead}}
    <div>
        <p class="wellbeing-body">We are an organisation dedicated to improving your health and wellbeing.
        Our mission is to see everyone in the world making the best life choices,
        crushing their goals and achieving their dreams.</p>
        <p class="wellbeing-body">This website was designed and build by Douglas Pollock.</p>
    </div>
{{>template/foot}}