{{>template/head}}
    <section id="upcoming-goals">
    <p>Welcome, {{user}}! What would you like to do today?</p>
    </section>
    <section>
            <!--Todo: upcoming goals-->
    </section>
    <section class="flex-container centre">
        <div class="flex-item">
            <a href="/goals">
                <div class="navbutton">
                    <p>View/amend goals</p>
                </div>
            </a>
        </div>
        <div class="flex-item">
            <a href="/goals/add">
                <div class="navbutton">
                    <p>Create a goal</p>
                </div>
            </a>
        </div>
        <div class="flex-item">
            <a href="">
                <div class="navbutton">
                    <p>Record an achievement</p>
                </div>
            </a>
        </div>
        <div class="flex-item">
            <a href="">
                <div class="navbutton">
                    <p>Trophies</p>
                </div>
            </a>
        </div>
        <div class="flex-item">
            <a href="/guides/fitness">
                <div class="navbutton">
                    <p>Fitness guide</p>
                </div>
            </a>
        </div>
        <div class="flex-item">
            <a href="/guides/lifestyle">
                <div class="navbutton">
                    <p>Lifestyle guide</p>
                </div>
            </a>
        </div>
        <div class="flex-item">
            <a href="/guides/nutrition">
                <div class="navbutton">
                    <p>Nutrition guide</p>
                </div>
            </a>
        </div>
    </section>
{{>template/foot}}
