{{>template/head}}
    <section id="upcoming-goals">
    <p>Todo: upcoming goals
    </section>
    <section class="centre navbuttons">
        <a href="">
            <div class="navbutton">
                <p>View/amend goals</p>
            </div>
        </a>
        <a href="">
            <div class="navbutton">
                <p>Create a goal</p>
            </div>
        </a>
        <a href="">
            <div class="navbutton">
                <p>Record an achievement</p>
            </div>
        </a>
        <a href="">
            <div class="navbutton">
                <p>Trophies</p>
            </div>
        </a>
        <a href="">
            <div class="navbutton">
                <p>Nutrition guide</p>
            </div>
        </a>
        <a href="">
            <div class="navbutton">
                <p>Lifestyle guide</p>
            </div>
        </a>
        <a href="">
            <div class="navbutton">
                <p>Fitness guide</p>
            </div>
        </a>
    </section>
{{>template/foot}}
