<!DOCTYPE html>
<html lang="en-gb">
<head>
    <title>MyWellbeingApp</title>
    {{! <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/> }}
    <link rel="stylesheet" href="styles/stylesheet.css" type="text/css">
</head>
<body>
    <header>
        {{>appHeader}}
    </header>
    <nav>
        {{>appNavBar}}
    </nav>
    <h1>{{title}}</h1>
    <main>
        <img src="/public/homeimg1.png" alt="An image of two women performing warmup excercises"/>
        <p class="wellbeing-body">Start your wellbeing journey now</p>
        <p class="wellbeing-body"><a href="#">Create an account</a></p>
    </main>
    <footer>
       {{>appFooter}}
    </footer>
</body>
</html>
