<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>MyWellbeingApp</title>
        <link rel="stylesheet" href="styles/stylesheet.css" type="text/css">
    </head>
    <body>
        <header>
            {{>appHeader}}
        </header>
        <nav>
            {{>appNavBar}}
        </nav>
        <h1>{{title}}</h1>
        <main>
            <div>
                <img src="images/homeimg1.jpg" alt="An image of two women performing warmup excercises" width="300" height="210"/>
                <p>Start your wellbeing journey now</p>
                <p class="wellbeing-body"><a href="/register">Register</a></p>
            </div>
            <div>
                <img src="images/homeimg2.jpg" alt="todo" width="300" height="210"/>
                <p>Already have an account?</p>
                <p class="wellbeing-body"><a href="/login">Log in</a></p>
            </div>
        </main>
        <footer>
        {{>appFooter}}
        </footer>
    </body>
</html>
