{{>template/head}}
    {{#err}}
        <div class="error flex-container centre">
            <p class="wellbeing-body">{{err}}</p>
        </div>
    {{/err}}
    {{#confirmation}}
        <div class="confirmation flex-container centre">
            <p class="wellbeing-body">{{confirmation}}</p>
        </div>
    {{/confirmation}}
    <form action="/login" method="post">
        <fieldset class="form-section">
            <label for="username">Username</label> {{! todo - change to username OR password}}
            <input id="username" name="username" type="text" autocomplete="username" required autofocus>
        </fieldset>
        <fieldset class="form-section">
            <label for="current-password">Password</label>
            <input id="current-password" name="password" type="password" autocomplete="current-password" required>
        </fieldset>
        <fieldset class="form-section flex-container centre">
            <input type="submit" value="Log in" class="centre">
        </fieldset>
    </form>
{{>template/foot}}