<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>MyWellbeingApp</title>
        <link rel="stylesheet" href="styles/stylesheet.css" type="text/css">
    </head>
    <body>
        <h1>Register</h1>
        <form action="/register" method="post">
            <section>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" required autofocus>
            </section>
            <section>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Enter password" minlength="8" required>
                <!-- todo: server side validation -->
            </section>
            <button type="register">register</button>
        </form>
    </body>
</html>