{{>template/head}}

<form action="/goals/{{goal._id}}" method="post">
    <fieldset class="form-section">
        <label for="goalname">Goal name</label>
        <input id="goalname" name="goalname" type="text" maxlength="128" value="{{goal.name}}" required autofocus>
    </fieldset>
    <fieldset class="form-section">
        <label for="dateadded">Date added</label> <!-- todo - format date -->
        <input class="readonly" id="dateadded" name="dateadded" type="text" maxlength="128" value="{{goal.dateadded}}" readonly>
    </fieldset>
    <fieldset class="form-section">
        <label for="targetdate">Target completion date</label>
        <input id="targetdate" name="targetdate" type="text" maxlength="10" value="{{goal.target}}" required>
    </fieldset>
    <fieldset class="form-section"> <!-- todo - select value based on {{goal}} -->
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="none"></option>
            <option value="nutrition">Nutrition</option>
            <option value="fitness">Fitness</option>
            <option value="lifestyle">Healthy lifestyle</option>
        </select>
    </fieldset>
    <fieldset class="form-section">
        <label for="description">Goal description</label>
        <textarea id="description" name="description" maxlength="2000" rows="5" required>{{goal.description}}</textarea>
    </fieldset>
    <fieldset class="form-section">
        <label for="completiondate">Actual completion date</label>
        <input id="completiondate" name="completiondate" type="text" maxlength="10" value="{{goal.dateCompleted}}">
    </fieldset>
    <fieldset class="form-section">
        <label for="goalcomplete">Goal complete</label>
        {{#goal.completed}}<input type="checkbox" id="goalcomplete" name="goalcomplete" value="complete" checked>{{/goal.completed}}
        {{^goal.completed}}<input type="checkbox" id="goalcomplete" name="goalcomplete" value="complete">{{/goal.completed}}
    </fieldset>
    <fieldset class="form-section flex-container centre">
        <input type="submit" value="Save">
    </fieldset>
</form>
<form action="/goals/{{goal._id}}/delete" method="get">
    <fieldset class="form-section flex-container centre">
        <input type="submit" value="Delete" class="delete">
    </fieldset>
</form>

{{>template/foot}}