{{>template/head}}

{{^goals}}No goals added :({{/goals}}

{{#goalsExist}}
<table class="goals">
  <thead>
    <tr>
      <th>Goal</th>
      <th>Date added</th>
      <th>Date completed</th>
    </tr>
  </thead>
  <tbody>
{{/goalsExist}}

{{#goals}}
    <tr>
      <td><a href="/goals/{{_id}}" class="no-styling">{{name}}</a></td>
      <td>{{dateadded}}</td>
      <td>{{#dateCompleted}}{{.}}{{/dateCompleted}}{{^dateCompleted}}-{{/dateCompleted}}</td>
      <!--<td>{{target}}</td>
      <td>{{category}}</td>
      <td>{{description}}</td>
      <td>{{completed}}</td> }}-->
      
    </tr>
  
{{/goals}}
{{#goalsExist}}
</tbody>
</table>
{{/goalsExist}}


{{>template/foot}}