$mwb-primary: #f9f9f9;
$mwb-secondary: #dcdcdc;
$mwb-tertiary: #29C2A3;
$mwb-text: #090909;

body {
    background-color: $mwb-primary;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;

}

header {
    position: relative;
    background-color: $mwb-secondary;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav {
    background-color: $mwb-tertiary;
    width: 90%;
    height: 4.5rem;
    padding: 0 5%;
    
    a {
        color: #090909;
        height: 1.5rem; /* todo - reduce padding when screen shrinks below 630px */
        padding: 1.5rem 1rem; /* tob&bottom left&right */
        border: 0;
        text-decoration: none;
        margin: 0 0.5rem;

        &:hover {
            border-bottom: 0.5rem solid $mwb-primary; /* todo - animate? */
            padding-bottom: 1rem;
        }
    }

    span.flex-item {
        display: inline;
        height: 1rem;
        padding: 1.5rem 0;        
    }

    
}

footer {
    background-color: $mwb-secondary;
    padding-top: 1rem;
    padding-bottom: 1rem;
    * {
        margin: 0.1rem 1rem;
    }
}

a {
    &:link { text-decoration: none; }
    &:visited { text-decoration: none; }
    &:hover { text-decoration: none; }
    &:active { text-decoration: none; }
    &.display-link { text-decoration: underline; }
    &.no-styling {
        color: #090909;
        text-decoration: none;
    }
}

p {
    margin: 0;
    &.wellbeing-body {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: $mwb-text;
    }
}

#appHeader {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.1rem;
    font-weight: Bold;
}

.thin-border {
    border: 1px solid $mwb-text;
    padding: 0.2rem;
    margin:1rem;
}

.form-section {
    margin: 1rem 5rem;
    display: block;
    padding: 0.5rem;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 12px inset;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -1px inset;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    &[type=submit] {
        width: 30%;
        background-color: cornflowerblue;
        color: white;
        font-weight: bold;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -1px inset;
            background-color: #82b3ff;
        }
    }
}

.navbutton {
    flex: 1 1 0;
    width: 15rem;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    &:hover {
        box-shadow: rgba(50, 50, 93, 0.45) 0px 5px 10px -1px inset;
        background-color: #82b3ff;
    }
}

.flex-item {
    margin: 1em;
}

.display-inline-block {
    display: inline-block; /* todo - centre element on screen */
}

div, section, fieldset, article {
    border: none;
    &.flex-container {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }
    &.centre {
        justify-content: center;
        align-items: center;
    }
    &.justify {
        justify-content: space-evenly;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    tr {
        border-bottom: 1px solid $mwb-text;
        position: relative;
        &:nth-child(even) {
            background-color: $mwb-secondary;
        }
    }
    td, th {
        padding: 1rem;
        text-align: center;
    }
    a:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}