body {
  background-color: #e3e3e3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #ababab;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  background-color: #29C2A3;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  background-color: #ababab;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p {
  margin: 0;
}

p .wellbeing-body {
  font-size: 1em;
  margin-bottom: 0.1em;
  color: #090909;
}
