body {
  background-color: #eeeeee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  position: relative;
  background-color: #cccccc;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  background-color: #29C2A3;
  width: 90%;
  height: 5em;
  padding: 0 5%;
}

nav.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

nav span.flex-item {
  display: inline;
  height: 1em;
  padding: 2em 0;
  margin: 0 0.2em;
}

nav span.flex-item:hover {
  border-bottom: 0.5em solid #eeeeee;
  /* todo - animate? */
  padding-bottom: 1.5em;
}

nav a {
  color: #090909;
  padding: 2em 0.5em;
  text-decoration: none;
}

footer {
  background-color: #cccccc;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a.display-link {
  text-decoration: underline;
}

a.no-styling {
  color: #090909;
  text-decoration: none;
}

p {
  margin: 0;
}

p.wellbeing-body {
  font-size: 1em;
  margin-bottom: 1em;
  color: #090909;
}

#appHeader {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.1em;
  font-weight: Bold;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thin-border {
  border: 1px solid #090909;
  padding: 0.2em;
  margin: 1em;
}

.form-section {
  margin: 1em 5em;
  display: block;
  border: 1px solid #09090910;
  border-radius: 6px;
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 4px 12px inset;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -1px inset;
}

input[type=submit] {
  width: 30%;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

input[type=submit]:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -1px inset;
  background-color: #82b3ff;
}

.navbuttons {
  flex-wrap: wrap;
  gap: 10px 20px;
}

.navbutton {
  flex: 1 1 0;
  width: 0;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.navbutton:hover {
  box-shadow: rgba(50, 50, 93, 0.45) 0px 5px 10px -1px inset;
  background-color: #82b3ff;
}

.display-inline-block {
  display: inline-block;
  /* todo - centre element on screen */
}
