<nav class="flex-container">
    <span class="flex-item"><a href="/">Home</a></span>
    <span class="flex-item"><a href="">TODO</a></span>
    <span class="flex-item"><a href="">TODO</a></span>
    <span class="flex-item"><a href="/about">About us</a></span>
</nav>