<div class="flex-container centre">
    <a href="/home"><span class="flex-item">Home</span></a>
    <a href="/goals"><span class="flex-item">Goals</span></a>
    <a href="/guides"><span class="flex-item">Guides</span></a>
    <a href="/trophies"><span class="flex-item">Trophies</span></a>
</div>