<nav>
    <div class="flex-container centre">
        <span class="flex-item"><a href="/home">Home</a></span>
        <span class="flex-item"><a href="">Goals</a></span>
        <span class="flex-item"><a href="">Guides</a></span>
        <span class="flex-item"><a href="/trophies">Trophies</a></span>
    </div>
</nav>