<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>MyWellbeingBuddy</title>
        <meta charset="UTF-8">
        <meta name="description" content="Goal tracking and information on health, fitness and wellbeing">
        <meta name="keywords" content="health, fitness, wellbeing, goals">
        <meta name="author" content="Douglas Pollock">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/stylesheet.css" type="text/css">
        <link rel="icon" href="/images/favicon.ico">
    </head>
    <body>
        <header>
            {{>template/appHeader}}
        </header>
        <nav>
            {{>template/appNavBar}}
        </nav>
        <section id="title" class="flex-container centre"><h1>{{title}}</h1></section>
        {{#err}}
            <section id="error" class="error flex-container centre">
                <p class="wellbeing-body">{{err}}</p>
            </section>
        {{/err}}
        {{#confirmation}}
            <section class="confirmation flex-container centre">
                <p class="wellbeing-body">{{confirmation}}</p>
            </section>
        {{/confirmation}}
        <main>