<div class="flex-container centre">
    <a href="/"><span class="flex-item">Home</span></a>
    <a href="/login"><span class="flex-item">Login</span></a>
    <a href="/register"><span class="flex-item">Register</span></a>
</div>