<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>MyWellbeingApp</title>
        <link rel="stylesheet" href="/styles/stylesheet.css" type="text/css">
    </head>
    <body>
        <header>
            {{>template/appHeader}}
            {{! todo - display landing header if not logged in }}
        </header>
        <nav>
            {{>template/unverifiedNavBar}}
        </nav>
        <section id="title" class="flex-container centre"><h1>{{title}}</h1></section>
        {{#err}}
            <section id="error" class="error flex-container centre">
                <p class="wellbeing-body">{{err}}</p>
            </section>
        {{/err}}
        {{#confirmation}}
            <section class="confirmation flex-container centre">
                <p class="wellbeing-body">{{confirmation}}</p>
            </section>
        {{/confirmation}}
        <main>